{% extends 'base.html' %}
<div class="main">
{% load crispy_forms_tags %}
{% block content %}
    <!-- <div class="content-section pt-2 mt-3 shadow-lg"  > -->
          <form action="{% url 'riderreq' %}" method="GET" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Create Ride Request
                    </legend>
                    {{form1 | crispy}}
              </fieldset>
              <div class="form-group">
                  
                  <button class="btn btn-outline-primary" type="submit"><i class="fas fa-upload"></i> Submit</button>
              </div>
          </form>
         
      <!-- </div> -->
{% endblock content %}
</div>
