{% extends 'base.html' %}

{% block content %}
<table id="myTable"  style="min-width:103%;"  class="table table-fluid table-striped sampleTable table table-bordered table-hover ">
    <thead>
    <tr>
    {% for item in model_headers %}
    <th scope="col">{{ item }}</th>
    {% endfor %}
    </tr>
</thead>
<tbody>
    {% for all_rows in query_results %}
    
    <tr> 
    {% for every_column in all_rows %}
    <td>{{ every_column }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>

<form action="{% url 'rider' %}" method="GET" enctype="multipart/form-data">
    <div class="form-group">
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-upload"></i> + Add Rider Request</button>
    </div>
</form>
{% endblock %}